

.menu-container {
    background-color: rgba(128, 222, 234, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 80%;
    margin: 20px 0;
    opacity: 0.97;
}

h2, h3 {
    color: #006064;
}

p {
    font-size: 0.75em;
    line-height: 1.5;
    color: #00000098;
}

section {
    margin-bottom: 20px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
    color: #00000098;
    font-size: 0.78em;
}

.menu-title {
    font-size: 2em;
    font-weight: bold;
    color: #006064;
    margin-bottom: 20px;
}