.menu-container {
    background-color: #80deea;
    padding: 60px;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 10;
    opacity: 0.7;
}

.menu-title {
    font-size: 2em;
    font-weight: bold;
    color: #006064;
    margin-bottom: 20px;
}

.menu-items {
    list-style: none;
    padding: 0;
}

.menu-items li {
    margin: 15px 0;
}

.menu-items a {
    text-decoration: none;
    background-color: #004d40;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.2em;
    transition: background 0.3s;
    display: block;
}

.menu-items a:hover {
    background-color: #00838f;
}

.icons{
    width: 27px; /* Reduce el tamaño del icono */
    height: 27px;
    margin-right: 8px; /* Espacio entre la imagen y el texto */
}