/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-image: url("../../assents/fondoRanking.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    color: wheat;
}

/* Contenedor de la tabla */
.table-container {
    width: 100%;
    overflow-x: auto;
    margin: 0 auto;
}

/* Estilos para la tabla */
.ranking-table {
    width: 100%;
    max-width: 800px;
    margin: auto;
    border-collapse: collapse;
    background-color: #4b4949ce ;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

/* Estilos para las celdas */
.ranking-table th,
.ranking-table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #007bff ;
    opacity: 0.;
}

/* Estilos para el encabezado */
.ranking-table thead {
    background-color: #302828;
}

.ranking-table th {
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
}

/* Efecto de hover en las filas */
.ranking-table tbody tr:hover {
    background-color: #333;
    transition: 0.3s;
}

.menu-items {
    list-style: none;
    padding: 0;
}

.menu-items li {
    margin: 15px 0;
}

.menu-items a {
    text-decoration: none;
    background-color: #004d40;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.2em;
    transition: background 0.3s;
    display: block;
}

.menu-items a:hover {
    background-color: #00838f;
}

.icons{
    width: 27px; 
    height: 27px;
    margin-right: 8px; 
}


.menu-container {
    width: fit-content; 
    margin: 20px auto; 
    padding: 10px;
    display: flex;
    justify-content: center;
}

.bandera {
    width: 30px;   
    height: auto;  
    border-radius: 5px; 
    display: block; 
    margin: auto;
}

.pais-container {
    align-items: center;
}

.bandera {
    width: 25px;
    height: auto;
}
