#board, #boardAttack{
    display: grid;
    align-items: center;
    justify-content: center;
    width: max-content; 
    margin: auto;
    padding: 10px;
}
#boardAttack .grid {
    cursor: url(../../assents/cursor_32.png) 16 16, crosshair;
}

.board-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
    justify-content: center; /* Centra los tableros */
    align-items: center;
}
.myRow{
    display: flex;
    width: auto;
    height: auto;
}
.grid{
    width: 30px;
    height: 30px;
    border: 0.1px solid rgb(46, 190, 183);
    display: inline-block;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: rgba(225, 231, 233, 0.664);

}
.position{
    display: inline-block;
}

.horizontal{
    width: 35px;
    height: 15px;
    border: black 0.5px solid;
}
.vertical{
    width: 15px;
    height: 35px;
    border: black 0.5px solid;
    margin-top: 5px;
}

#ships{
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

.ship-1 { 
    background-color: #33FF57 ; 
}
.ship-2 { 
    background-color: #3357FF ; 
}
.ship-3 { 
    background-color: #FF33A8 ; 
}
.ship-4 { 
    background-color: #e0ef10 ; 
}
.ship-5 { 
    background-color: #8e08ac ; 
}
.hit{
    background-color: red !important;
}
.miss{
    background-color: gray;
}

@media (max-width: 750px) {
    .grid {
        width: 25px;
        height: 25px;
    }
}
#button{
    font-weight: bold;
    margin-bottom: 20px;
    text-decoration: none;
    background-color: #004d40;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.2em;
    transition: background 0.3s;
    display: block;
    margin: 15px 0;
    opacity: 0.7;
    justify-content: flex-end;
    width: 200px;
    margin-right: 10px;
}

.containers {
    padding: 70px 0 0 0; /* Espacio para el navbar */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}


header {
    position: fixed; 
    top: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 60%; 
    height: 70px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 60px;
    color: rgb(255, 255, 255); 
    padding: 10px 20px; 
    z-index: 1000; 
    border-radius: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.player-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
}

#player-name {
    font-weight: bold;
    font-size: 18px;
}

#player-country {
    font-style: italic;
    font-size: 14px;
}

.score-container {
    font-size: 24px;
    font-weight: bold;
}


body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #0183a3, #02969b, #05c4dd);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

body.lluvia-ligera {
    background-image: url('../../assents/lluvia.gif');
    background-size: cover;
    color: white;
}

body.tormenta {
    background-image: url('../../assents/lluviaTrueno.gif');
    background-size: cover;
    color: white;
}

body.nublado {
    background-image: url('../../assents/nublado.png');
    background-size: cover;
    color: white;
}

body.sol {
    background-image: url('../../assents/soleado.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

