<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modos de juego</title>
    <link rel="icon" type="image/png" href="../assents/a0f7d469f729a332dfa5f8b1ccd60a2a.png">
    <link rel="stylesheet" href="styles/modoJuego.css">
    <link rel="stylesheet" href="styles/background.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="../controller/burbujas.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="burbujas"></div>
    <div class="container d-flex justify-content-center align-items-center h-100">
        <div class="menu-container text-center">
            <div class="menu-title">Modos de juego</div>
            <ul class="menu-items p-0">
                <li><a href="menuUsuario.html" class="btn btn-block"> <img class="icons" src="../assents/robot_2_16dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.png" alt="robot">Jugar Contra Maquina</a></li>
                <li><a href="#" class="btn btn-block"> <img class="icons" src="../assents/group_18dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.png" alt="group">Contra amigos</a></li>
                <li><a href="index.html" class="btn btn-block"> <img class="icons" src="../assents/keyboard_return_16dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.png" alt="return">salir</a></li>
                <li><h1>⚓</h1></li>
            </ul>
        </div>
    </div>
</body>
</html>
