<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../view/styles/background.css">
    <link rel="stylesheet" href="../view/styles/Ranking.css">
    <link rel="icon" type="image/png" href="../assents/a0f7d469f729a332dfa5f8b1ccd60a2a.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="../controller/burbujas.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../controller/ranking.js" type="module"></script>
    <title>Ranking</title>
</head>
<body>
    <div class="burbujas"></div>
    <div class="container text-center mt-5">
        

        <div class="table-container">
            
            <table class="ranking-table">
                
                <thead>
                    <tr>
                        <th colspan="5" class="text-center">
                            <h1 class="mb-4">🏆 Ranking 🏆</h1>
                          </th>
                    <tr>
                        <th>Posición</th>
                        <th>Nombre</th>
                        <th>Puntaje</th>
                        <th>País</th>
                        <th>Bandera</th>
                    </tr>
                </thead>
                <tbody id="tablaRanking"></tbody>
            </table>
        </div>
        <div class="menu-container">
            <ul class="menu-items p-0">
                <li>
                    <a href="index.html" class="btn btn-block">
                        <img class="icons" src="../assents/keyboard_return_16dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.png" alt="volver">
                        Volver
                    </a>
                </li>
            </ul>
        </div> 
    </div>
</body>
</html>
