<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/background.css">
    <link rel="stylesheet" href="styles/tablero.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../controller/tablero.js"></script></script>


</head>
<body>
    <img src="../assents/barcos.webp" class="background-ship" alt="Barco de fondo">
            <div class="row">
                <div class="col-md-12 col-12 juego">
                    <div id="tableroContainer"></div>                
                </div>
                <div class="row juego">
                    <div class="col-md-12 col-12">
                        <h4 id="mensaje"></h4> 
                    </div>
                </div>
            </div>
</body>
</html>